@use "../base/variables" as *;

// Color utilities
// Text colors
@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }

  // Hover text colors
  .hover\:text-#{$key}:hover {
    color: $value;
  }
}

// Background colors
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  // Hover background colors
  .hover\:bg-#{$key}:hover {
    background-color: $value;
  }
}

// Border colors
@each $key, $value in $colors {
  .border-#{$key} {
    border-color: $value;
  }

  // Hover border colors
  .hover\:border-#{$key}:hover {
    border-color: $value;
  }
}
