/* Components */
@import "./components/topnavbar_styles.css";
@import "./components/form_styles.css";
@import "./components/buttons_styles.css";

/* Font */
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: Roboto-Regular;
  font-size: small;
  text-align: left;
}
